
$msft-white: 				#ffffff;
$msft-light-yellow: #fff100;
$msft-yellow: 			#ffb900;
$msft-light-gray: 	#e6e6e6;
$msft-light-orange: #ff8c00;
$msft-orange: 			#d83b01;
$msft-gray: 				#d2d2d2;
$msft-red: 					#e81123;
$msft-dark-red: 		#a80000;
$msft-mid-gray: 		#737373;
$msft-light-magenta:#e3008c;
$msft-magenta: 			#b4009e;
$msft-dark-magenta: #5c005c;
$msft-dark-gray: 		#505050;
$msft-light-purple: #b4a0ff;
$msft-purple: 			#5c2d91;
$msft-dark-purple:  #32145a;
$msft-rich-black: 	#000000;
$msft-light-blue: 	#00bcf2;
$msft-blue: 				#0078d4;
$msft-mid-blue: 		#00188f;
$msft-dark-blue: 		#002050;
$msft-soft-black: 	#1a1a1a;
$msft-light-teal: 	#00b294;
$msft-teal: 				#008272;
$msft-dark-teal: 		#004b50;
$msft-soft-black-bg:#0d0d0d;
$msft-light-green: 	#bad80a;
$msft-green: 				#107c10;
$msft-dark-green: 	#004b1c;
$msft-logo-green: 	#81bc09;


// Additional MSFT Colors from Branding PPT Palette

$msft-light-red: #ee4d5a;