<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
<body>

	<div class="grid-v2">
	{% include header.html %}

	<div class="grid-banner" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ site.baseurl }}/assets/images/julian-hochgesang-oA0EHY-rdQQ-unsplash.jpg');">
		<div class="container">
			<h1>FastTrack for Azure Live (ASIA)</h1>
			<p class="banner-lead">Live Webinars delivered by FastTrack for Azure Engineers as to a wide audience with Q&A</p>
		</div>
	</div>

	<div class="grid-container">
		{{ content }}
	</div>

	{% include footer.html %}
</div>
</body>
</html>